<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Home lite control</title>

  <script src="lib/onsen/js/onsenui.js"></script> 
  <script src="vue.js"></script>
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
 </head> 
 
<style>
</style>
<body>
<section id="app">
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="prev()">
        <ons-icon icon="md-chevron-left"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Home lite control</div>
    <div class="right">
      <ons-toolbar-button onclick="next()">
        <ons-icon icon="md-chevron-right"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item>
      <div style="text-align: center; font-size: 30px; margin-top: 20px;">
        Device settings		   
      </div>
 	  
		<ons-list> 
	    <div v-for="device in devices">  
				<ons-list-header>Новое устройство</ons-list-header>
				<ons-list-item expandable style="height: auto">
                             {{device.name }}
				   <div class="expandable-content">Index: {{device.index}}</div>
				   <div class="expandable-content">Ip: {{device.ip}}</div>
				</ons-list-item>	
	   </div>	
	   </ons-list> 
	   

    </ons-carousel-item>
    <ons-carousel-item>
      <div style="text-align: center; font-size: 30px; margin-top: 20px;">
        Roows settings
      </div>
    </ons-carousel-item>
    <ons-carousel-item>
      <div style="text-align: center; font-size: 30px; margin-top: 20px;">
        Rooms			
      </div>
		<ons-list>
		  <div v-for="device in devices">   		  
			<ons-list-item>
			<!--   <label class="center" for="yy">
				[{{device.index}}] {{device.name }}
				  
				  
			  </label> -->
			  <!--<div class="right"> -->
			      <div v-if = "device.state === 'on'"> 
				    <!--  //<ons-switch checked id="highlight-input" input-id="yy" @change="relay({ip: device.ip, turn: 'off', state: device.State})"></ons-switch> -->
			      <ons-button modifier="large--quiet" @click="relay({ip: device.ip, turn: 'off', state: device.State})">[{{device.index}}] {{device.name }}</ons-button>
				  </div>	
				  <div v-else>	
				    <!--<ons-switch id="highlight-input" input-id="yy" @change="relay({ip: device.ip, turn: 'on', state: device.State})"></ons-switch>	  -->
				  <ons-button modifier="large" @click="relay({ip: device.ip, turn: 'on', state: device.State})">[{{device.index}}] {{device.name }}</ons-button>
				  </div>
		  
			 </div>		  
			</ons-list-item>		
		   </div>
		</ons-list>	   
	   
	  
    </ons-carousel-item>
  </ons-carousel>
</ons-page>
 </section>
<script>
var prev = function() {
  var carousel = document.getElementById('carousel');
  carousel.prev();
};

var next = function() {
  var carousel = document.getElementById('carousel');
  carousel.next();
};

ons.ready(function() {
  var carousel = document.addEventListener('postchange', function(event) {
    console.log('Changed to ' + event.activeIndex)
  });
});
</script>

  
  
  
	<script type="text/javascript" src="socket.io.js"></script>

	<script type="text/javascript">
	
	//	const socket = io("ws://172.20.10.2:3000", { transports: ["websocket"] });		
	//	const socket = io("ws://172.20.10.13:3000", { transports: ["websocket"] });
	//	const socket = io("ws://192.168.0.102:3000", { transports: ["websocket"] });
		const socket = io("ws://192.168.0.8:3000", { transports: ["websocket"] });
		//const socket = io("ws://raspberrypi:3000", { transports: ["websocket"] });
		socket.on("devices", devices => {
			//console.log(devices)
		app.devices = devices
		  app.devices.forEach(device => {
			console.log("app.devices.device.State" + device.State)
			
		   })
			
		})
		
		let app = new Vue({
		  el: '#app',
		  data: {
		    devices: new Map()
		//	console.log("devices ok")
		  },
		  mounted: function () {
		  	socket.emit("deviceReq", (devs) => {
				app.devices = devs

		  	})
			//console.log("mounted ok")
		  },
		  methods: {
		  	relay(data) {	
				socket.emit("relay", (data))// send data  				  		
		  	},				
			ChangeName(data) {
			  var nm = prompt("Укажите имя устройства", data.name)				
				if (nm != null) {
				  data.name = nm
		  		  socket.emit("ChangeName", (data))// send data  				  		
		  		  console.log("set name ok")
				  }
		  	},
			info(data){
				var st 
				if(data.state === "on"){ 
				  st = "Включено"
				}
				else{
				  st = "Выключено"			
				}
					alert("Информация об устройстве\n  ip: " + data.ip 
						+ "\n  Имя: " + data.name 
						+ "\n  Состояние: " + st
						+ "\n  Индекс: " + data.index
						);
					//socket.emit("ChangeState", (data))// send 				  		
					console.log("change state ok")
					
				}
		}
	})	
	</script>

</body>