<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style>
  .button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonScroll {border-radius: 4px;}
.buttonWidth {width: 250px;}
</style>
<body>

	<section id="app">
		<div v-for="device in devices">
			{{ device }} <button v-if="device.pinged" @click="relay({ip: device.ip, turn: 'on'})">on</button> <button v-if="device.pinged" @click="relay({ip: device.ip, turn: 'off'})">off</button>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
	<script type="text/javascript">
		let app = new Vue({
		  el: '#app',
		  data: {
		    devices: new Map()
		  },
		  methods: {
		  	relay(data) {
		  		socket.emit("relay", data)
		  	}
		  }
		})
		const socket = io("ws://172.20.10.2:3000", { transports: ["websocket"] });
		socket.on("devices", devices => {
			app.devices = devices
		})
	</script>
</body>
</html>
